/* Header styles */
header {
    background-color: #222222;
    color: #ffdd40;
    padding: 20px 0;
    border-bottom: 5px solid yellow;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.back-button img {
    width: 30px; /* Adjust the size of the back button icon */
    height: auto;
}

.project-title {
    text-align: center;
    flex-grow: 1; /* Allow the project title to take up remaining space */
}

.project-title h1 {
    margin: 0;
    font-size: 24px;
}

.project-title h1 {
    margin: 0;
    font-size: 24px;
}

.project-details {
    max-width: 800px;
    margin: 0 auto;
}

.project-details h3 {
    font-size: 24px;
    margin-top: 30px;
}

.project-details h2 {
    font-size: 24px;
    margin-top: 30px;
}

.project-details p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.back-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffdd40;
}

.back-button:hover {
    color: #ffdd40;
    cursor: pointer;
    transform: scale(1.05);
}

.dash-section {
    margin-top: 30px;
    text-align: left;
}

.project-details img {
    max-width: 100%;
    height: auto;
}

.ultrakill-info {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of elements */
    align-items: center; /* Center align the items vertically */
    margin-bottom: 20px; /* Add some margin at the bottom for spacing */
}

.ultrakill-gif {
    width: 50%; /* Adjust the width of the GIF */
    border-radius: 10px; /* Add border radius for aesthetics */
}

.ultrakill-text {
    width: 50%; /* Adjust the width of the text */
    padding-right: 10px;
}

.github-link {
    font-family: 'Archivo Black', sans-serif; /* Set font to Archivo Black */
    font-size: 30px;
    margin: 0 auto; /* Center horizontally */
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: yellow;
    border: none; /* Remove default button border */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Change cursor to pointer on hover */
    text-align: center;
}

.github-link:hover {
    background-color: yellow;
    color: black;
}