/* Reset and base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
    text-align: center;
    scroll-behavior: smooth;
}

#vanta-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures it stays behind other content */
    background-color: #1a1a1a;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    font-family: 'Archivo Black', sans-serif; /* Set font to Archivo Black */
    font-size: 50px;
    color: black;
    background-color: yellow;
    padding: 5px 15px; /* Adjusted padding */
    border-radius: 10px;
    display: inline; /* Make the logo inline */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-text {
    text-align: center;
    font-size: 30px;
}

.welcome-subtext {
    text-align: center;
    font-size: large;
}

a {
    color: yellow;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: #ffdd40;
}

/* Header styles */
header {
    background-color: #222222;
    color: #ffdd40;
    padding: 20px 0;
    border-bottom: 5px solid yellow;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.name-title h1, .name-title p {
    margin: 0;
}

.name-title h1 {
    font-size: 24px;
}

.name-title p {
    font-size: 18px;
    font-style: italic;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: yellow;
    color: #000;
}

/* Main content styles */
.content-section {
    margin: 40px auto;
    max-width: 900px;
    padding: 20px;
    text-align: left;
}

#projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 20px; /* Gap between projects */
}

/* Project grid */
#projectContainer .project {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#projectContainer .project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#projectContainer .project:hover {
    transform: scale(1.05);
}

#projectContainer div {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

#projectContainer div:hover {
    transform: scale(1.05);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    font-size: large;
    font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    padding: 2px 5px;
    background-color: yellow;
    color: #000;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Search bar */
#searchTags {
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid yellow;
    background-color: #222;
    color: yellow;
    margin-bottom: 20px;
}

/* About Me and Contact sections */
#about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    #projectContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 20px; /* Gap between projects */
    }

    nav ul {
        padding-top: 20px;
    }

    nav ul li {
        margin: 10px 0;
    }
}

.enemy-types {
    display: flex;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.enemy {
    width: 30%; /* Set the width of each enemy to 30% of the container */
    margin-bottom: 20px; /* Add space between each enemy */
    text-align: center; /* Center text horizontally */
}

.enemy img {
    max-width: 100%; /* Adjust the width of the enemy images */
    height: auto;
}

.enemy h4 {
    font-family: 'Archivo Black', sans-serif; /* Set font to Archivo Black */
    font-size: 30px;
    color: black;
    border-radius: 10px;
    background-color: yellow;
    margin-top: 5px; /* Add space between image and title */
}

.gun-types {
    display: flex;
    flex-wrap: wrap; /* Allow guns to wrap to the next line */
    justify-content: space-around; /* Distribute guns evenly along the row */
    margin-top: 20px; /* Add space above the gun section */
}

.gun {
    width: 45%; /* Set the width of each gun to fit in a 2x2 grid */
    margin-bottom: 20px; /* Add space between each gun */
    text-align: center; /* Center text horizontally */
}

.gun img {
    max-width: 100%; /* Adjust the width of the gun images */
    height: auto;
}

.gun h4 {
    font-family: 'Archivo Black', sans-serif; /* Set font to Archivo Black */
    font-size: 30px;
    color: black;
    border-radius: 10px;
    background-color: yellow;
    margin-top: 5px; /* Add space between image and title */
}

.RocketLauncher img {
    transform: scaleX(-1); /* Flip the image horizontally */
}

.enemy,
.gun {
    background-color: #333; /* Background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin between each enemy/gun */
}

.enemy img, .gun img{
    background-color: #1d1d1d;
    border-radius: 10px;
}

.tower-types {
    display: flex;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.tower {
    width: 30%; /* Set the width of each tower to 30% of the container */
    margin-bottom: 20px; /* Add space between each tower */
    text-align: center; /* Center text horizontally */
}

.tower img {
    max-width: 100%; /* Adjust the width of the tower images */
    height: auto;
}

.tower h4 {
    font-family: 'Archivo Black', sans-serif; /* Set font to Archivo Black */
    font-size: 30px;
    color: black;
    border-radius: 10px;
    background-color: yellow;
    margin-top: 5px; /* Add space between image and title */
}

.tower {
    background-color: #333; /* Background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin between each tower */
}

.tower img {
    background-color: #1d1d1d;
    border-radius: 10px;
}

.contact-section {
    margin-top: 40px;
    margin-bottom: 100px; /* Add some space above the contact section */
}

.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    padding: 10px 20px; /* Increased padding for larger buttons */
    border-radius: 20px; /* Rounded edges */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    position: relative; /* Add relative positioning */
}

.email-button .email-address {
    position: absolute;
    bottom: -25px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Initially hide the email address */
}

.email-button:focus .email-address {
    display: block; /* Show email address when email button is clicked */
}

.contact-icon {
    width: 70px; /* Set the width of the icons */
    height: auto;
    margin-bottom: 5px; /* Add space between icon and text */
}

.contact-button:hover {
    background-color: #555; /* Darken background color on hover */
    color: yellow;
}

.contact-button:nth-child(1) {
    background-color: #333;
}

.contact-button:nth-child(2) {
    background-color: #333;
}

.contact-button:nth-child(3) {
    background-color: #333;
}

.contact-button.email-button {
    border: none; /* Remove button border */
    position: relative; /* Enable relative positioning */
}

.email-address {
    background-color: 333;
    display: block; /* Make the email address a block element */
    margin-top: 10px; /* Add some space between the email text and address */
}